# Eurostat

In [220]:
from eurostat import germany as ger
importlib.reload(ger)
importlib.reload(osm)

In [186]:
# Population_by_age_groups_and_sex
population_by_age_groups_and_sex = ger.Population_by_age_groups_and_sex()
population_by_age_groups_and_sex.api_query_result.shape

(60, 37)

In [187]:
# Population_structure
population_structure = ger.Population_structure()
population_structure.api_query_result.shape

(60, 19)

In [188]:
# Population_by_citizenship
population_by_citizenship = ger.Population_by_citizenship()
population_by_citizenship.api_query_result.shape

(60, 15)

In [189]:
# Living_conditions
living_conditions = ger.Living_conditions()
living_conditions.api_query_result.shape

(60, 19)

In [190]:
# Education
education = ger.Education()
education.api_query_result.shape

(20, 6)

In [191]:
# Culture_and_tourism
culture_and_tourism = ger.Culture_and_tourism()
culture_and_tourism.api_query_result.shape

(60, 10)

In [192]:
# Labour_market
labour_market = ger.Labour_market()
labour_market.api_query_result.shape

(60, 39)

In [193]:
# Transport
transport = ger.Transport()
transport.api_query_result.shape

(60, 10)

In [194]:
# Environment
environment = ger.Environment()
environment.api_query_result.shape

(39, 8)

## Merge Eurostat data into a single DataFrame

In [197]:
eurostat_data = population_by_age_groups_and_sex.api_query_result \
                .merge(population_structure.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(population_by_citizenship.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(living_conditions.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(education.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(culture_and_tourism.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(labour_market.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(transport.api_query_result, on=['cities', 'time'], how='outer') \
                .merge(environment.api_query_result, on=['cities', 'time'], how='outer').drop_duplicates()

In [198]:
print(eurostat_data.shape)
eurostat_data.head()

(60, 147)

,cities,time,"Population on the 1st of January, 0-4 years, female","Population on the 1st of January, 0-4 years, male","Population on the 1st of January, 0-4 years, total","Population on the 1st of January, 10-14 years, male","Population on the 1st of January, 10-14 years, total","Population on the 1st of January, 15-19 years, female","Population on the 1st of January, 15-19 years, male","Population on the 1st of January, 15-19 years, total",...,Number of private cars registered,Number of registered cars per 1000 population,People commuting into the city,People commuting out of the city,"Municipal waste generated (domestic and commercial), total - 1000 t",Price of a m³ of domestic water - Euro,Share of population connected to potable drinking water system - %,Share of population connected to sewerage treatment system - %,Share of the urban waste water load (in population equivalents) treated according to the applicable standard -%,Total use of water - m³
0,Berlin,2016,86434.0,91718.0,178152.0,71212.0,138821.0,69120.0,72707.0,141827.0,...,1024876.0,291.2,295838.0,174263.0,1361.98,1.81,99.81,99.72,100.0,206000000.0
1,Berlin,2017,90989.0,96033.0,187022.0,73565.0,143191.0,70952.0,76589.0,147541.0,...,NaN,NaN,309375.0,179977.0,1385.72,NaN,NaN,NaN,NaN,NaN
2,Berlin,2018,92674.0,97822.0,190496.0,75635.0,147132.0,71189.0,76087.0,147276.0,...,NaN,NaN,321219.0,185723.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Bielefeld,2016,7514.0,7906.0,15420.0,8017.0,15511.0,8932.0,9247.0,18179.0,...,142308.0,427.2,64648.0,35734.0,150.47,1.85,98.35,99.85,100.0,15526000.0
4,Bielefeld,2017,7775.0,8112.0,15887.0,8054.0,15582.0,8892.0,9346.0,18238.0,...,NaN,NaN,66262.0,37546.0,152.70,NaN,NaN,NaN,NaN,NaN

# OpenStreetMap & Foursquare

In [199]:
from openstreetmap import openstreetmap as osm
import time

In [200]:
osm.top20_cities

{'Berlin': '62422',
 'Hamburg': '62782',
 'München': '62428',
 'Köln': '62578',
 'Frankfurt am Main': '62400',
 'Essen': '62713',
 'Stuttgart': '2793104',
 'Dortmund': '1829065',
 'Düsseldorf': '62539',
 'Bremen': '62559',
 'Hannover': '59418',
 'Leipzig': '62649',
 'Duisburg': '62456',
 'Nürnberg': '62780',
 'Dresden': '191645',
 'Bochum': '62644',
 'Wuppertal': '62478',
 'Bielefeld': '62646',
 'Bonn': '62508',
 'Mannheim': '62691'}

In [221]:
cls = osm.OpenStreetMap('München', '62428')

In [222]:
int(cls.city_id)

62428

In [223]:
cls.city_name

'München'

In [224]:
cls.calc_overpass_city_id()

In [225]:
cls.overpass_city_id

'3600062428'

In [226]:
bonn_biergartens = cls.get_biergartens_for_city()
bonn_biergartens

Finding biergartens in München...
Found 131 biergartens in München

,id,latitude,longitude,tags,type,city,city_id
0,118252923.0,48.149801,11.585537,"{'addr:city': 'München', 'addr:housenumber': '...",Node,München,62428
1,260796705.0,48.120427,11.607181,"{'addr:city': 'München', 'addr:country': 'DE',...",Node,München,62428
2,263389412.0,48.114720,11.614455,"{'amenity': 'biergarten', 'name': 'Alter Wirt'...",Node,München,62428
3,263904864.0,48.114070,11.613793,"{'amenity': 'biergarten', 'name': 'Zar', 'open...",Node,München,62428
4,264012141.0,48.130373,11.615910,"{'amenity': 'biergarten', 'name': 'Padova', 'w...",Node,München,62428
...,...,...,...,...,...,...,...
126,607507205.0,48.128821,11.653664,"{'addr:city': 'München', 'addr:housenumber': '...",Way,München,62428
127,624027883.0,48.138347,11.562754,"{'addr:housenumber': '10', 'addr:street': 'Ado...",Way,München,62428
128,701098863.0,48.163090,11.532503,"{'amenity': 'biergarten', 'name': 'Taxisgarten...",Way,München,62428
129,705288640.0,48.132953,11.588964,"{'addr:city': 'München', 'addr:country': 'DE',...",Way,München,62428
130,774759219.0,48.145528,11.593558,"{'amenity': 'biergarten', 'name': 'Leib und Se...",Way,München,62428

In [227]:
bonn_biergartens.shape

(131, 7)

## Get Foursquare venues for biergartens in Bonn

In [228]:
import pandas
import os
import sys
sys.path.insert(0, os.path.abspath(os.environ['USERPROFILE'] + '/Desktop/my_pwd'))
import foursquare_pwd

In [229]:
fsqr_client_id = foursquare_pwd.client_id # your Foursquare ID
fsqr_client_secret = foursquare_pwd.client_secret # your Foursquare Secret

In [230]:
from foursquare import foursquare as fsqr
import importlib
importlib.reload(fsqr)

In [231]:
v = fsqr.Venues(fsqr_client_id, fsqr_client_secret)

In [232]:
v.get_nearby_venues(bonn_biergartens['city'], bonn_biergartens['latitude'],bonn_biergartens['longitude'])

Matching biergartens in München to Foursquare venues...

131it [01:53,  1.15it/s]

In [233]:
v.venue_df

,City,OSM Latitude,OSM Longitude,venue_id,Venue,Venue Latitude,Venue Longitude,Venue Category
0,München,48.149801,11.585537,4b45c348f964a520f90f26e3,Milchhäusl,48.149882,11.585483,Beer Garden
1,München,48.114720,11.614455,4b211123f964a5208d3624e3,"Gaststätte ""Alter Wirt""",48.114739,11.614436,German Restaurant
2,München,48.173259,11.395971,4e134a9d1838f8ad816cbc5b,Bienenheim,48.173303,11.395973,Beer Garden
3,München,48.173259,11.395971,5865482ab12d9f3e943adb5f,Waldwirtschaft Bienenheim,48.173323,11.395781,Bavarian Restaurant
4,München,48.143627,11.417126,4be6d2748a8cb713d583c4a0,Aubinger Einkehr,48.143723,11.417154,German Restaurant
...,...,...,...,...,...,...,...,...
57,München,48.078874,11.671983,4bd4845acfa7b713043924da,Leiberheim,48.079012,11.672019,Beer Garden
58,München,48.138347,11.562754,5b1bec8a418686002c7eb88f,Kulturdachgarten,48.138288,11.562770,Roof Deck
59,München,48.163090,11.532503,4ade0cadf964a520766821e3,Taxisgarten,48.163190,11.532430,Beer Garden
60,München,48.132953,11.588964,4bd1e0e1462cb7134215db07,Muffathalle Biergarten,48.132865,11.589081,Beer Garden
61,München,48.145528,11.593558,4b6eca88f964a520b5ca2ce3,Leib & Seele,48.145619,11.593656,German Restaurant

## Get reviews for biergartens in Bonn

In [234]:
c = fsqr.Reviews(fsqr_client_id, fsqr_client_secret)

In [ ]:
c.get_venue_review(v.venue_df['City'], v.venue_df['venue_id'])

0it [00:00, ?it/s]

Fetching reviews for identified biergartens in München...

20it [00:09,  2.19it/s]

In [18]:
c.review_df

,venue_id,venue_name,rating,likes_cnt,city
0,4f6dc7cde4b04cb29411986c,Rheinpavillon Blauer Affe,7.5,29,Bonn
1,4c027155f423a593f3bece16,Bundeshäuschen,8,12,Bonn
2,4b531c70f964a520338f27e3,Rheinlust,6.2,43,Bonn
3,4db16424a86e63d21169921b,Biergarten RheinAue,7.1,13,Bonn
4,4ba20691f964a5200ad737e3,Biergarten Alter Zoll,8.1,114,Bonn
5,4c404d1ad7fad13a2bb505da,Bahnhöfchen Beuel,6.8,36,Bonn
6,4bdda32f0ee3a5937b052eb0,Bahnhöf'je,None,0,Bonn
7,4db16424a86e63d21169921b,Biergarten RheinAue,7.1,13,Bonn
8,4e0cd55fd4c07c82a2e0390b,Clementine,None,2,Bonn
9,4bd3741541b9ef3b2a3e00e6,Strandbar Bonn,8.4,16,Bonn
10,4bd9612a11dcc928fb92f933,Biergarten Schänzchen,7.8,22,Bonn
11,4bcb1c34cc8cd13ae1abbecf,Biergarten im Rheinhotel Dreesen,8.1,17,Bonn

# Collect Foursquare data for top 20 cities

In [24]:
import pandas as pd
import os
import sys
sys.path.insert(0, os.path.abspath(os.environ['USERPROFILE'] + '/Desktop/my_pwd'))
import foursquare_pwd

In [10]:
fsqr_client_id = foursquare_pwd.client_id # your Foursquare ID
fsqr_client_secret = foursquare_pwd.client_secret # your Foursquare Secret

In [19]:
from foursquare import foursquare as fsqr
from openstreetmap import openstreetmap as osm
import importlib
importlib.reload(fsqr)
importlib.reload(osm)

## Test biergarten fetch for top 20 cities

In [20]:
for city, city_code in zip(osm.top20_cities.keys(), osm.top20_cities.values()):
    cls = osm.OpenStreetMap(city, city_code)
    cls.get_biergartens_for_city()
    print('Number of biergartens in ' + city + ': ' + str(cls.no_of_biergartens))
    time.sleep(0.2)

Finding biergartens in Berlin...
Number of biergartens in Berlin: 143
Finding biergartens in Hamburg...
Number of biergartens in Hamburg: 51
Finding biergartens in Munich...
Number of biergartens in Munich: 131
Finding biergartens in Koln...
Number of biergartens in Koln: 61
Finding biergartens in Frankfurt am Main...
Number of biergartens in Frankfurt am Main: 37
Finding biergartens in Essen...
Number of biergartens in Essen: 45
Finding biergartens in Stuttgart...
Number of biergartens in Stuttgart: 29
Finding biergartens in Dortmund...
Number of biergartens in Dortmund: 27
Finding biergartens in Dusseldorf...
Number of biergartens in Dusseldorf: 27
Finding biergartens in Bremen...
Number of biergartens in Bremen: 21
Finding biergartens in Hannover...
Number of biergartens in Hannover: 30
Finding biergartens in Leipzig...
Number of biergartens in Leipzig: 66
Finding biergartens in Duisburg...
Number of biergartens in Duisburg: 20
Finding biergartens in Nurnberg...
Number of biergartens in Nurnberg: 32
Finding biergartens in Dresden...
Number of biergartens in Dresden: 57
Finding biergartens in Wandsbek...
Number of biergartens in Wandsbek: 10
Finding biergartens in Bochum...
Number of biergartens in Bochum: 8
Finding biergartens in Wuppertal...
Number of biergartens in Wuppertal: 6
Finding biergartens in Bielefeld...
Number of biergartens in Bielefeld: 22
Finding biergartens in Bonn...
Number of biergartens in Bonn: 17

In [25]:
res_df = pd.DataFrame()

# Loop through the 20 biggest cities in Germany
for city, city_code in zip(osm.top20_cities.keys(), osm.top20_cities.values()):
    
    # Get biergartens for city from OpenStreetMap
    osm_biergartens = osm.OpenStreetMap(city, city_code)
    osm_biergartens.get_biergartens_for_city()
    
    # Match OpenStreetMap biergartens to Foursquare venues
    venues = fsqr.Venues(fsqr_client_id, fsqr_client_secret)
    venues.get_nearby_venues(osm_biergartens.df_biergartens['city'], osm_biergartens.df_biergartens['latitude'],osm_biergartens.df_biergartens['longitude'])
    
    # Get reviews for venues identified as biergarten
    reviews = fsqr.Reviews(fsqr_client_id, fsqr_client_secret)
    reviews.get_venue_review(venues.venue_df['City'], venues.venue_df['venue_id'])
    
    # Collect results to a single dataframe
    res_df = res_df.append(reviews.review_df)

Finding biergartens in Berlin...
Matching biergartens in Berlin to Foursquare venues...
Fetching reviews for identified biergartens in Berlin...
Finding biergartens in Hamburg...
Matching biergartens in Hamburg to Foursquare venues...
Fetching reviews for identified biergartens in Hamburg...
Finding biergartens in Munich...
Matching biergartens in Munich to Foursquare venues...
Fetching reviews for identified biergartens in Munich...
Finding biergartens in Koln...
Matching biergartens in Koln to Foursquare venues...
Fetching reviews for identified biergartens in Koln...
Finding biergartens in Frankfurt am Main...
Matching biergartens in Frankfurt am Main to Foursquare venues...
Fetching reviews for identified biergartens in Frankfurt am Main...
Finding biergartens in Essen...
Matching biergartens in Essen to Foursquare venues...
Fetching reviews for identified biergartens in Essen...
Finding biergartens in Stuttgart...
Matching biergartens in Stuttgart to Foursquare venues...
Fetching reviews for identified biergartens in Stuttgart...
Finding biergartens in Dortmund...
Matching biergartens in Dortmund to Foursquare venues...
Fetching reviews for identified biergartens in Dortmund...
Finding biergartens in Dusseldorf...
Matching biergartens in Dusseldorf to Foursquare venues...
Fetching reviews for identified biergartens in Dusseldorf...
Finding biergartens in Bremen...
Matching biergartens in Bremen to Foursquare venues...
Fetching reviews for identified biergartens in Bremen...
Finding biergartens in Hannover...
Matching biergartens in Hannover to Foursquare venues...
Fetching reviews for identified biergartens in Hannover...
Finding biergartens in Leipzig...
Matching biergartens in Leipzig to Foursquare venues...
Fetching reviews for identified biergartens in Leipzig...
Finding biergartens in Duisburg...
Matching biergartens in Duisburg to Foursquare venues...
Fetching reviews for identified biergartens in Duisburg...
Finding biergartens in Nurnberg...
Matching biergartens in Nurnberg to Foursquare venues...
Fetching reviews for identified biergartens in Nurnberg...
Finding biergartens in Dresden...
Matching biergartens in Dresden to Foursquare venues...
Fetching reviews for identified biergartens in Dresden...
Finding biergartens in Wandsbek...
Matching biergartens in Wandsbek to Foursquare venues...
Fetching reviews for identified biergartens in Wandsbek...
Finding biergartens in Bochum...
Matching biergartens in Bochum to Foursquare venues...
Fetching reviews for identified biergartens in Bochum...
Finding biergartens in Wuppertal...
Matching biergartens in Wuppertal to Foursquare venues...
Fetching reviews for identified biergartens in Wuppertal...
Finding biergartens in Bielefeld...
Matching biergartens in Bielefeld to Foursquare venues...
Fetching reviews for identified biergartens in Bielefeld...
Finding biergartens in Bonn...
Matching biergartens in Bonn to Foursquare venues...
Fetching reviews for identified biergartens in Bonn...

In [26]:
res_df.shape

(338, 5)

In [27]:
res_df.head()

                   venue_id         venue_name rating likes_cnt    city
0  53541e32498e5522be7a5eed  Jockel Biergarten    5.6        44  Berlin
1  4c20c6424889a593e9df2620     Haus Sanssouci    7.7         9  Berlin
2  4adcda73f964a520654521e3   Brauhaus Spandau    8.3       135  Berlin
3  4adcda77f964a520e14521e3      Schleusenkrug    8.5       497  Berlin
4  4adcda74f964a520674521e3        Alter Fritz    7.4        14  Berlin

In [28]:
res_df.to_csv('Germany_biergartens.csv', sep=';', header=True, index=False)

# Merging Eurostat Data to Biergartens