# Eurostat

In [1]:
from eurostat import germany

In [2]:
g = germany.Germany()

In [3]:
g.german_cities

['DE001C1',
 'DE002C1',
 'DE003C1',
 'DE004C1',
 'DE005C1',
 'DE006C1',
 'DE007C1',
 'DE008C1',
 'DE009C1',
 'DE010C1',
 'DE011C1',
 'DE012C1',
 'DE013C1',
 'DE014C1',
 'DE015C1',
 'DE017C1',
 'DE018C1',
 'DE019C1',
 'DE020C1',
 'DE021C1',
 'DE022C1',
 'DE023C1',
 'DE025C1',
 'DE026C1',
 'DE027C1',
 'DE028C1',
 'DE029C1',
 'DE030C1',
 'DE031C1',
 'DE032C1',
 'DE033C1',
 'DE034C1',
 'DE035C1',
 'DE036C1',
 'DE037C1',
 'DE039C1',
 'DE040C1',
 'DE041C1',
 'DE042C1',
 'DE043C1',
 'DE044C1',
 'DE045C1',
 'DE046C1',
 'DE047C1',
 'DE048C1',
 'DE049C1',
 'DE050C1',
 'DE051C1',
 'DE052C1',
 'DE053C1',
 'DE054C1',
 'DE055C1',
 'DE056C1',
 'DE057C1',
 'DE058C1',
 'DE059C1',
 'DE060C1',
 'DE061C1',
 'DE062C1',
 'DE063C1',
 'DE064C1',
 'DE065C1',
 'DE066C1',
 'DE067C1',
 'DE068C1',
 'DE069C1',
 'DE070C1',
 'DE071C1',
 'DE072C1',
 'DE073C1',
 'DE074C1',
 'DE075C1',
 'DE076C1',
 'DE077C1',
 'DE078C1',
 'DE079C1',
 'DE080C1',
 'DE081C1',
 'DE082C1',
 'DE501C1',
 'DE502C1',
 'DE503C1',
 'DE504C1',
 'DE505C1',
 'DE506C1',
 'DE507C1',
 'DE508C1',
 'DE509C1',
 'DE510C1',
 'DE511C1',
 'DE513C1',
 'DE514C1',
 'DE515C1',
 'DE516C1',
 'DE517C1',
 'DE518C1',
 'DE519C1',
 'DE520C1',
 'DE521C1',
 'DE522C1',
 'DE523C1',
 'DE524C1',
 'DE525C1',
 'DE526C1',
 'DE527C1',
 'DE528C1',
 'DE529C1',
 'DE530C1',
 'DE531C1',
 'DE532C1',
 'DE533C1',
 'DE534C1',
 'DE535C1',
 'DE536C1',
 'DE537C1',
 'DE538C1',
 'DE539C1',
 'DE540C1',
 'DE541C1',
 'DE542C1',
 'DE543C1',
 'DE544C1',
 'DE545C1',
 'DE546C1',
 'DE547C1',
 'DE548C1',
 'DE549C1']

In [4]:
# Learn to create a long string using list comprehension for city codes
print(''.join(f'&cities={code}' for code in g.german_cities))

&cities=DE001C1&cities=DE002C1&cities=DE003C1&cities=DE004C1&cities=DE005C1&cities=DE006C1&cities=DE007C1&cities=DE008C1&cities=DE009C1&cities=DE010C1&cities=DE011C1&cities=DE012C1&cities=DE013C1&cities=DE014C1&cities=DE015C1&cities=DE017C1&cities=DE018C1&cities=DE019C1&cities=DE020C1&cities=DE021C1&cities=DE022C1&cities=DE023C1&cities=DE025C1&cities=DE026C1&cities=DE027C1&cities=DE028C1&cities=DE029C1&cities=DE030C1&cities=DE031C1&cities=DE032C1&cities=DE033C1&cities=DE034C1&cities=DE035C1&cities=DE036C1&cities=DE037C1&cities=DE039C1&cities=DE040C1&cities=DE041C1&cities=DE042C1&cities=DE043C1&cities=DE044C1&cities=DE045C1&cities=DE046C1&cities=DE047C1&cities=DE048C1&cities=DE049C1&cities=DE050C1&cities=DE051C1&cities=DE052C1&cities=DE053C1&cities=DE054C1&cities=DE055C1&cities=DE056C1&cities=DE057C1&cities=DE058C1&cities=DE059C1&cities=DE060C1&cities=DE061C1&cities=DE062C1&cities=DE063C1&cities=DE064C1&cities=DE065C1&cities=DE066C1&cities=DE067C1&cities=DE068C1&cities=DE069C1&cities=DE070C1&cities=DE071C1&cities=DE072C1&cities=DE073C1&cities=DE074C1&cities=DE075C1&cities=DE076C1&cities=DE077C1&cities=DE078C1&cities=DE079C1&cities=DE080C1&cities=DE081C1&cities=DE082C1&cities=DE501C1&cities=DE502C1&cities=DE503C1&cities=DE504C1&cities=DE505C1&cities=DE506C1&cities=DE507C1&cities=DE508C1&cities=DE509C1&cities=DE510C1&cities=DE511C1&cities=DE513C1&cities=DE514C1&cities=DE515C1&cities=DE516C1&cities=DE517C1&cities=DE518C1&cities=DE519C1&cities=DE520C1&cities=DE521C1&cities=DE522C1&cities=DE523C1&cities=DE524C1&cities=DE525C1&cities=DE526C1&cities=DE527C1&cities=DE528C1&cities=DE529C1&cities=DE530C1&cities=DE531C1&cities=DE532C1&cities=DE533C1&cities=DE534C1&cities=DE535C1&cities=DE536C1&cities=DE537C1&cities=DE538C1&cities=DE539C1&cities=DE540C1&cities=DE541C1&cities=DE542C1&cities=DE543C1&cities=DE544C1&cities=DE545C1&cities=DE546C1&cities=DE547C1&cities=DE548C1&cities=DE549C1

In [5]:
# Learn to create a long string using list comprehension for time  codes
year_list = [2016,2017,2018,2019]
print(''.join(f'&time={y}' for y in year_list))

&time=2016&time=2017&time=2018&time=2019

## Test API call

In [6]:
# Create class instance
c = germany.Population_by_age_groups_and_sex()

In [7]:
# Confirm the query looks correct
c.api_query

'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/urb_cpop1?&time=2016&time=2017&time=2018&time=2019&cities=DE001C1&cities=DE002C1&cities=DE003C1&cities=DE004C1&cities=DE005C1&cities=DE006C1&cities=DE007C1&cities=DE008C1&cities=DE009C1&cities=DE010C1&cities=DE011C1&cities=DE012C1&cities=DE013C1&cities=DE014C1&cities=DE015C1&cities=DE017C1&cities=DE018C1&cities=DE019C1&cities=DE020C1&cities=DE021C1&cities=DE022C1&cities=DE023C1&cities=DE025C1&cities=DE026C1&cities=DE027C1&cities=DE028C1&cities=DE029C1&cities=DE030C1&cities=DE031C1&cities=DE032C1&cities=DE033C1&cities=DE034C1&cities=DE035C1&cities=DE036C1&cities=DE037C1&cities=DE039C1&cities=DE040C1&cities=DE041C1&cities=DE042C1&cities=DE043C1&cities=DE044C1&cities=DE045C1&cities=DE046C1&cities=DE047C1&cities=DE048C1&cities=DE049C1&cities=DE050C1&cities=DE051C1&cities=DE052C1&cities=DE053C1&cities=DE054C1&cities=DE055C1&cities=DE056C1&cities=DE057C1&cities=DE058C1&cities=DE059C1&cities=DE060C1&cities=DE061C1&cities=DE062C1&cities=DE063C1&cities=DE064C1&cities=DE065C1&cities=DE066C1&cities=DE067C1&cities=DE068C1&cities=DE069C1&cities=DE070C1&cities=DE071C1&cities=DE072C1&cities=DE073C1&cities=DE074C1&cities=DE075C1&cities=DE076C1&cities=DE077C1&cities=DE078C1&cities=DE079C1&cities=DE080C1&cities=DE081C1&cities=DE082C1&cities=DE501C1&cities=DE502C1&cities=DE503C1&cities=DE504C1&cities=DE505C1&cities=DE506C1&cities=DE507C1&cities=DE508C1&cities=DE509C1&cities=DE510C1&cities=DE511C1&cities=DE513C1&cities=DE514C1&cities=DE515C1&cities=DE516C1&cities=DE517C1&cities=DE518C1&cities=DE519C1&cities=DE520C1&cities=DE521C1&cities=DE522C1&cities=DE523C1&cities=DE524C1&cities=DE525C1&cities=DE526C1&cities=DE527C1&cities=DE528C1&cities=DE529C1&cities=DE530C1&cities=DE531C1&cities=DE532C1&cities=DE533C1&cities=DE534C1&cities=DE535C1&cities=DE536C1&cities=DE537C1&cities=DE538C1&cities=DE539C1&cities=DE540C1&cities=DE541C1&cities=DE542C1&cities=DE543C1&cities=DE544C1&cities=DE545C1&cities=DE546C1&cities=DE547C1&cities=DE548C1&cities=DE549C11'

In [9]:
# Check the type of response status -- NoneType is desired outcome
type(c.api_response_status)

NoneType

In [10]:
# Have a look at the resulting dataframe
c.api_query_result

,indic_ur,cities,time,value
0,"Population on the 1st of January, total",Berlin,2016,3520031.0
1,"Population on the 1st of January, total",Berlin,2017,3574830.0
2,"Population on the 1st of January, total",Berlin,2018,3613495.0
3,"Population on the 1st of January, total",Berlin,2019,NaN
4,"Population on the 1st of January, total",Hamburg,2016,1787408.0
...,...,...,...,...
18139,"Population on the 1st of January, 10-14 years,...",Jena,2019,NaN
18140,"Population on the 1st of January, 10-14 years,...","Düren, Stadt",2016,NaN
18141,"Population on the 1st of January, 10-14 years,...","Düren, Stadt",2017,2146.0
18142,"Population on the 1st of January, 10-14 years,...","Düren, Stadt",2018,2152.0
18143,"Population on the 1st of January, 10-14 years,...","Düren, Stadt",2019,NaN