# Pandas profiling

In [1]:
from pandas_profiling import ProfileReport
import pandas as pd

## Read dataset

In [2]:
filename = 'Biergarten_data_for_analysis.csv'
df = pd.read_csv(filename, sep=';')

In [3]:
print(df.shape)
df.head()

(1278, 152)

,venue_id,venue_name,rating,likes_cnt,city,cities,time,"Population on the 1st of January, 0-4 years, female","Population on the 1st of January, 0-4 years, male","Population on the 1st of January, 0-4 years, total",...,Number of private cars registered,Number of registered cars per 1000 population,People commuting into the city,People commuting out of the city,"Municipal waste generated (domestic and commercial), total - 1000 t",Price of a m³ of domestic water - Euro,Share of population connected to potable drinking water system - %,Share of population connected to sewerage treatment system - %,Share of the urban waste water load (in population equivalents) treated according to the applicable standard -%,Total use of water - m³
0,53541e32498e5522be7a5eed,Jockel Biergarten,5.6,44,Berlin,Berlin,2016,86434.0,91718.0,178152.0,...,1024876.0,291.2,295838.0,174263.0,1361.98,1.81,99.81,99.72,100.0,206000000.0
1,53541e32498e5522be7a5eed,Jockel Biergarten,5.6,44,Berlin,Berlin,2017,90989.0,96033.0,187022.0,...,NaN,NaN,309375.0,179977.0,1385.72,NaN,NaN,NaN,NaN,NaN
2,53541e32498e5522be7a5eed,Jockel Biergarten,5.6,44,Berlin,Berlin,2018,92674.0,97822.0,190496.0,...,NaN,NaN,321219.0,185723.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4c20c6424889a593e9df2620,Haus Sanssouci,7.7,9,Berlin,Berlin,2016,86434.0,91718.0,178152.0,...,1024876.0,291.2,295838.0,174263.0,1361.98,1.81,99.81,99.72,100.0,206000000.0
4,4c20c6424889a593e9df2620,Haus Sanssouci,7.7,9,Berlin,Berlin,2017,90989.0,96033.0,187022.0,...,NaN,NaN,309375.0,179977.0,1385.72,NaN,NaN,NaN,NaN,NaN

In [4]:
# Drop columns not relevant for profiling
cols_to_drop = ['venue_id', 'venue_name', 'cities', 'time']
df_profiling = df.drop(cols_to_drop, axis=1)
df_profiling.shape

(1278, 148)

## Profile dataset

In [5]:
profile = ProfileReport(df_profiling, title='Pandas Profiling Report for Biergarten_data_for_analysis.csv', 
                        html={'style':{'full_width':True}})

HBox(children=(FloatProgress(value=0.0, description='variables', max=148.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=21025.0, style=ProgressSt…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [6]:
profile.to_widgets()

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…

In [7]:
profile.to_widgets()

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…